{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Registration{% endblock %}

{% block description %}Sign up page for Posted.{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}"/>{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="row">
      <div class="registered col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="alert alert-info text-center" role="alert">
          <strong>You have already signed up.</strong>
        </div>
        <a href="/news/"><button class="btn btn-lg btn-primary btn-block" type="button">Home</button></a>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            {% crispy form %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
